body {
font-family: 'PT Serif', serif;
background-color: #FFF8F0;
}

h1, p, ul, #photo-list {
  text-align: center;
}

h1, #photo-list {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* contains the img tags with the "paginate" class */
#photo-list, li {
  padding: 5px;

}

/* appended to the photo-list by script.js */
img {
  height: 200px;
  width: 200px;
  padding: 10px;
  cursor: pointer;
}

/* styles the page numbers */
li {
  background-color: pink;
  list-style-type: none;
  display: inline; 
  margin: 5px;
  cursor: pointer;
}

/* pops up when the user clicks on a picture */
#overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: black;
  opacity: 0.7;
}

/* pops up when user clicks on a picture, contains a larger version of the picture */
#frame img {
  display: none; 
  position: fixed;
  background-color: white;
  width: 700px;
  height: auto;
  margin-left: -350px;
  left: 50%;
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* one example of special @media tag for different size screens; other devices would need their own tags */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

  p {
      font-size: 40px !important;
  }
  h1 {
    font-size: 50px !important;
  }

  h1, #photo-list {
    flex-direction: column;
  }
  .paginate {
    align-items: center;
    justify-content: center;
    width: 90% !important;
    height: 50% !important;
    padding: 10px !important;
  }
  li {
  font-size: 25px !important;
  width: 100px !important; 
  padding: 20px !important;
  margin: 20px;
}
    }