body {
font-family: 'PT Serif', serif;
background-color: #FFF8F0;
}

h1, p, ul, #photo-list {
  text-align: center;
}

h1, #photo-list {
  margin: 0 auto;
}

/* contains the img tags with the "paginate" class */
#photo-list, li {
  padding: 5px;
}

/* appended to the photo-list by script.js */
img {
  height: 200px;
  width: 200px;
  padding: 10px;
  cursor: pointer;
}

/* styles the page numbers */
li {
  background-color: pink;
  list-style-type: none;
  display: inline; 
  margin: 5px;
  cursor: pointer;
}

/* pops up when the user clicks on a picture */
#overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: black;
  opacity: 0.7;
}

/* pops up when user clicks on a picture, contains a larger version of the picture */
#frame img {
  display: none; 
  position: fixed;
  background-color: white;
  width: 700px;
  height: auto;
  margin-left: -350px;
  left: 50%;
}